<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>	
	<properties>
		<property name="username" value="scott"/>
	</properties>
	
	<typeAliases>
		<typeAlias alias="RepBoard" type="com.my.vo.RepBoard" />
	</typeAliases>
	
<!-- 	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
				<property name="username" value="scott" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments> -->
	
	<!--맵핑할 xml파일을 등록(상대경로를  쓸수도 있고 절대경로를  쓸 수도 있다.  -->
	<mappers>
		<mapper resource="boardMapper.xml" />
		<!-- <mapper resource="orderMapper.xml" /> -->
	</mappers>
</configuration>